<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | Dawars' blog</title>

    <meta charset="UTF-8"/>
    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:pages" content="233625717020038"/>

    <!-- style -->

    <link rel='stylesheet' id='franklin_source_sans-css'
          href='//fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700%2C900&#038;ver=5.0-alpha-42185'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='franklin_open_sans-css'
          href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C600&#038;ver=5.0-alpha-42185' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='franklin_bootstrap_css-css' href='/css/bootstrap.min.css?ver=5.0-alpha-42185'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='franklin_style-css' href='/css/style.css?ver=5.0-alpha-42185' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='fa-brands-css'  href='/css/fa-brands.min.css' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='et_monarch-css-css'  href='/css/monarch.css' type='text/css'
          media='all'/>
    <style id='custom-style-inline-css' type='text/css'>
        header, .widget_tag_cloud a:hover, .sticky-img, #primary-menu li ul li {
            background-color: ;
        }

        a:hover, #primary-menu li:hover a {
            color: ;
        }
    </style>
    <script type='text/javascript' src='https://wp-themes.com/wp/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript'
            src='https://wp-themes.com/wp/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#20b2aa">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#20b2aa"/>

    <!-- favicon end -->

    <link rel="profile" href="//gmpg.org/xfn/11"/>

    {% if site.tags != "" %}
    {% include collecttags.html %}
    {% endif %}
</head>