<header role="banner">
    <div id="bot-bar" class="container">
        <div class="row">
            <div id="logo" class="col-md-12 col-lg-3">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" rel="home">Dawars' blog</a>
            </div>
            <div id="primary-menu" class="col-md-12 col-lg-9" role="navigation">
                <div class="collapse navbar-collapse">
                    <ul id="menu-top" class="menu">
                        <li id="menu-item-4"
                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-4">
                            <a href="/" itemprop="url">Home</a></li>
                        <li id="menu-item-178"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-178">
                            <a href="/android_game_programming/" itemprop="url">Learning Materials</a>
                            <ul class="sub-menu">
                                <li id="menu-item-491"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-491"><a
                                        href="/android_game_programming/3d-graphics/" itemprop="url">3D Graphics</a>
                                </li>
                                <li id="menu-item-177"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-177"><a
                                        href="/android_game_programming/android-game-programming/"
                                        itemprop="url">Android Game Programming</a>
                                </li>

                            </ul>
                        </li>
                        <li id="menu-item-8"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8 last"><a
                                href="/about/" itemprop="url">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</header>