<footer>
    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div id="footer-meta" class="col-md-9">
                    <p>&copy; <a id="footer-site" href="{{ site.url }}" title="Dawars">Dawars</a></p>
                                    </div>
                <div id="footer-credit" class="col-md-3">
                    <p><a href="http://www.wpmultiverse.com/themes/franklin/" title="Franklin WordPress Theme">Franklin Theme</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>