<footer>
    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div id="footer-meta" class="col-md-9">
                    <p>&copy; <a id="footer-site" href="{{ site.url }}" title="Dawars">Dawars</a></p>
                    <ul id="menu-top-1" class="menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-4">
                            <a href="https://dawars.me/" itemprop="url">Home</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-178">
                            <a href="/learning_material/" itemprop="url">Learning
                                Materials</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6 current_page_item menu-item-8">
                            <a href="/about/" itemprop="url">About</a></li>
                    </ul>
                </div>
                <!--<div id="footer-credit" class="col-md-3">
                    <p><a href="http://www.wpmultiverse.com/themes/franklin/" title="Franklin WordPress Theme">Franklin
                        Theme</a></p>
                </div>-->
            </div>
        </div>
    </div>
</footer>