---
layout: default
---
<div id="content" class="container"><div class="row" role="main" >
	<div class="col-md-8">
		<p id="breadcrumbs"><span class="glyphicon glyphicon-home"></span> <a href="https://wp-themes.com/" rel="home">Home</a> <span class="glyphicon glyphicon-chevron-right"></span> <a href="https://wp-themes.com/?cat=1" rel="category">Uncategorized</a> <span class="glyphicon glyphicon-chevron-right"></span> Worth A Thousand Words</p>
		<article id="post-19" class="post-19 post type-post status-publish format-standard hentry category-uncategorized tag-boat tag-lake">
				
    <h1 id="post-title">{{ page.title }}</h1>
    {{ content }}
	
		<div class="post-meta clearfix ">
		<p class="author-date">
			<span class="glyphicon glyphicon-user"></span> Dawars 
			<span class="glyphicon glyphicon-calendar"></span> {{ page.date | date_to_string }}	
		</p>
		<p class="post-tags"><span class="glyphicon glyphicon-tags"></span><a href="https://wp-themes.com/?tag=boat">boat</a> <span class="slash"> / </span><a href="https://wp-themes.com/?tag=lake">lake</a> <span class="slash"> / </span></p>	
							
			
	</div>	
	
		
</article>
<hr class="post-divider">		
	</div>
	<div id="primary-sidebar" class="col-md-4">
	</div></div>
</div>